.bestbuy-acc {
    background-image: url("img/brands/bestbuy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.amazon-acc {
  background-image: url("img/brands/amazon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.nike-acc {
  background-image: url("img/brands/nike.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.gmail-acc {
  background-image: url("img/brands/gmail.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.outlook-acc {
  background-image: url("img/brands/outlook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.discord-acc {
  background-image: url("img/brands/discord.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.shopify-acc {
  background-image: url("img/brands/shopify.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.walmart-acc {
  background-image: url("img/brands/walmart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}