* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
  margin: 0 auto;
}

/* Container */

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 450px;
  background: #1a171e;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 100px rgba(0,0,0,0.1);
  user-select: none;
  z-index: 1;
}


.bg-image {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-image: url('img/loginBg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #1a171e;
  animation-iteration-count: infinite;
  animation-name: bganim;
  animation-duration: 10s;
}

.dragplate {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  z-index: 9999;
}


.anim-seq-container {
  width: 450px;
  position: absolute;
  top: 20px;
  left: calc(50% - 225px);
  height: 100px;
}

.animPlate {
  width: 100%;
}


.updating-text {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #8466e0;
  font-size: 18px;
  font-weight: bold;
}

.updating-text2 {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #aaa;
  font-size: 14px;
}

.updating-text2::after {
  display: inline-block;
  animation: dotty steps(1,end) 1s infinite;
  content: '';
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}










.gradient-border {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #8466e0, #8466e0, #1a171e, #1a171e, #8466e0, #8466e0, #1a171e, #1a171e);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}




@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



@keyframes bganim {
  0%   {  background-size: 100%;}
  50%  {  background-size: 110%;}
  100% {  background-size: 100%;}
}
